---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import ToolTip from "../components/ToolTip.astro";
import { stack, projects, experiences } from "../const";
import ProjectItem from "../components/ProjectItem.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import "../styles/main.css";
import type { ProjectInterface } from "../types";
---

<Layout title="Portfolio | Miguel Rubiano">
  <main class="px-4">
    <section class="about py-72 pb-32 flex justify-center" id="about">
      <article
        class="about-description flex flex-col justify-center items-center"
      >
        <div class="flex flex-row gap-5">
          <h1 class="about-title">Hi! I'm Miguel Rubiano</h1>
          <div class="flex justify-center items-center">
            <a
              href="https://www.linkedin.com/in/miguelrubiano343/"
              target="_blank"
              rel="noopener"
              class="flex justify-center items-center hover:scale-105 transition"
              ><Badge>#OpenToWork</Badge></a
            >
          </div>
        </div>
        <p
          class="about-text border border-slate-500 rounded-xl p-5 w-[600px] bg-slate-800/20"
        >
          Computer and Systems Engineer with <b
            >2 years of frontend experience</b
          >. Throughout this adventure, I've <b>collaborated</b> with my team
          on different labors such as backend, design, and database management,
           always <b>looking to learn</b> from this. I like to explore new technologies that allow me to build sustainable and scalable applications.
        </p>
        <ul class="flex flex-row justify-end gap-8 mt-2">
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#FF9900" }}
            tool-tip
            onclick='window.open("https://github.com/xArkqngel", "_blank")'
          >
            <p class="stack__name">Github</p>
            <ToolTip aria-hidden="true">Github</ToolTip>
            <span class={`icon-Github`}></span>
          </li>
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#007FFF" }}
            tool-tip
            onclick='window.open("https://www.linkedin.com/in/miguelrubiano343/", "_blank")'
          >
            <p class="stack__name">LinkedIn</p>
            <ToolTip aria-hidden="true">LinkedIn</ToolTip>
            <span class={`icon-LinkedIn`}></span>
          </li>
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#FAFAFA" }}
            tool-tip
            onclick='window.open("https://drive.google.com/drive/folders/1JzzENi35yeYgXZqJVq_irkRds1CyDIhY?usp=sharing", "_blank")'
          >
            <p class="stack__name">Curriculum</p>
            <ToolTip aria-hidden="true">Curriculum</ToolTip>
            <span class={`icon-CV`}></span>
          </li>
        </ul>
      </article>
    </section>
    <section
      class="experience flex flex-col items-center pb-32"
      id="experience"
    >
      <h2 class="text-3xl font-bold text-center mb-10">Experience</h2>
      {
        experiences.map((experience) => (
          <ExperienceItem experience={experience} />
        ))
      }
    </section>
    <section class="projects flex flex-col items-center pb-32" id="projects">
      <h2 class="text-3xl font-bold text-center mb-10">Projects</h2>
      {
        projects.map((project: ProjectInterface) => (
          <ProjectItem project={project} />
        ))
      }
    </section>
    <section class="stacks flex flex-col items-center pb-32">
      <h2 class="text-3xl font-bold text-center mb-10">Stack</h2>
      <ul class="stacks-grid max-w-[800px] grid gap-4">
        {stack.map((stackItem, index) => (
          <li
            class={`stack ${index >= 10 ? 'hidden-on-mobile' : ''}`}
            style={{ "--background-dif": stackItem.color }}
            tool-tip
          >
            <p class="stack__name">{stackItem.name}</p>
            <ToolTip aria-hidden="true">{stackItem.name}</ToolTip>
            <span class={`icon-${stackItem.name}`} />
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
