---
import type { ExperienceInterface } from "../types";
const { experience }: { experience?: ExperienceInterface } = Astro.props;
---

<article
  class="text-wrapper mb-10 w-[800px] border border-slate-500 rounded-xl p-5 bg-slate-800/20"
>
  {
    experience && (
      <>
        <div class="experience-title flex flex-row gap-3 items-center">
          {experience.logo && (
            <img
              class="size-20"
              src={experience.logo}
              alt={`Logo de ${experience.title}`}
            />
          )}
          <div class="flex flex-col gap-0">
            <h3 class="text-xl font-bold">{experience.title}</h3>
            <h4 class="text-lg font-thin">{experience.company}</h4>
          </div>
        </div>
        <p class="mb-2 text-slate-500">{experience.date}</p>
        <p class="mb-2">{experience.description}</p>
        <ul class="pl-4">
          {experience.bullets.map((bullet) => (
            <li class="mb-1">• {bullet}</li>
          ))}
        </ul>
      </>
    )
  }
</article>
